alertClip=false

alertClipTimeout=5

alwaysTileHorizontally=false

chooserDividerLocation=200

chooserVisible=false

clipboardMaximized=false

clipboardSizeX=1596

clipboardSizeY=1391

clipboardVisible=false

clipboardX=84

clipboardY=54

durationA=1.86

durationB=-0.85

durationEnabled=false

fdsnDataselectURL=http://service.iris.edu/fdsnws/dataselect/1/query

fdsnStationURL=http://service.iris.edu/fdsnws/station/1/query

hideStaleChannel=false

hypocenterSource=NONE

kiosk=false

lastPath=/home/seisan/Downloads

layout=heli-4--winston1

loadLayout=true

mapHeight=1119

mapLatitude=16.728459602666472

mapLineColor=-65332

mapLineWidth=2

mapLongitude=-62.18809306788125

mapMaximized=false

mapPath=mapdata

mapScale=23.173619290878488

mapVisible=false

mapWidth=1920

mapX=0

mapY=0

nearestDividerLocation=529

pVelocity=6.0

saveConfig=true

server=MBGH;sls:172.17.102.24:18000
server=MBWH;sls:172.17.102.25:18000
server=MBLG;sls:172.30.0.79:18000
server=MBGB;sls:172.17.102.23:18000
server=MBFR;sls:172.17.102.22:18000
server=MBLY;sls:172.17.102.27:18000
server=MBBY;sls:172.17.102.20:18000
server=winston2;wws:172.17.102.65:16022:15000:1
server=winston1;wws:172.17.102.60:16022:15000:1
server=MBFL;sls:172.17.102.21:18000

showClip=true

span=24

specificTimeZone=UTC

timeChunk=30

useInstrumentTimeZone=false

useLargeCursor=false

useLocalTimeZone=false

useWMS=false

userTimes=

velocityRatio=1.73

windowMaximized=true

windowSizeX=3840

windowSizeY=1608

windowX=684

windowY=108

wmsLayer=0

wmsServer=https://basemap.nationalmap.gov/arcgis/services/USGSTopo/MapServer/WMSServer?

wmsStyles=

