ABD HHZ WI 00= Group: Regional;
ABD HHN WI 00= Group: Regional;
ABD HHE WI 00= Group: Regional;
ANWB BHZ CU 00= Group: Regional;
ANWB BH1 CU 00= Group: Regional;
ANWB BH2 CU 00= Group: Regional;
BBGH BHZ CU 00= Group: Regional;
BBGH BH1 CU 00= Group: Regional;
BBGH BH2 CU 00= Group: Regional;
DLPL HHZ TR --= Group: SRC Regional;
DLPL HHN TR --= Group: SRC Regional;
DLPL HHE TR --= Group: SRC Regional;
DSLB HHZ TR --= Group: SRC Regional;
DSLB HHN TR --= Group: SRC Regional;
DSLB HHE TR --= Group: SRC Regional;
DWS HHZ TR --= Group: SRC Regional;
DWS HHN TR --= Group: SRC Regional;
DWS HHE TR --= Group: SRC Regional;
GCMP HHZ TR --= Group: SRC Regional;
GCMP HHN TR --= Group: SRC Regional;
GCMP HHE TR --= Group: SRC Regional;
GRGR BHZ CU 00= Group: Regional;
GRGR BH1 CU 00= Group: Regional;
GRGR BH2 CU 00= Group: Regional;
MBBY HHZ MV 00= Longitude: -62.20255; Latitude: 16.6976833
MBBY HHZ MV 00= Group: MVO;
MBBY HHZ MV 00= Group: MVO Z;
MBBY HH1 MV 00= Group: MVO;
MBBY HH2 MV 00= Group: MVO;
MBBY EHZ MV 00= Group: MVO SPZ;
MBFL HHZ MV 00= Longitude: -62.2125; Latitude: 16.7485
MBFL HHZ MV 00= Group: MVO;
MBFL HHZ MV 00= Group: MVO Z;
MBFL HH1 MV 00= Group: MVO;
MBFL HH2 MV 00= Group: MVO;
MBFL EHZ MV 00= Group: MVO SPZ;
MBFR HHZ MV 00= Longitude: -62.178; Latitude: 16.693
MBFR HHZ MV 00= Group: MVO;
MBFR HHZ MV 00= Group: MVO Z;
MBFR HH1 MV 00= Group: MVO;
MBFR HH2 MV 00= Group: MVO;
MBFR EHZ MV 00= Group: MVO SPZ;
MBGB HHZ MV 00= Longitude: -62.2277667; Latitude: 16.7320667
MBGB HHZ MV 00= Group: MVO;
MBGB HHZ MV 00= Group: MVO Z;
MBGB HH1 MV 00= Group: MVO;
MBGB HH2 MV 00= Group: MVO;
MBGB EHZ MV 00= Group: MVO SPZ;
MBGH HHZ MV 00= Longitude: -62.2086333; Latitude: 16.7225667
MBGH HHZ MV 00= Group: MVO;
MBGH HHZ MV 00= Group: MVO Z;
MBGH HH1 MV 00= Group: MVO;
MBGH HH2 MV 00= Group: MVO;
MBGH EHZ MV 00= Group: MVO SPZ;
MBHA HHZ MV 10= Longitude: -62.16822; Latitude: 16.74201
MBHA HHZ MV 10= Group: MVO;
MBHA HHZ MV 10= Group: MVO Z;
MBHA HHN MV 10= Group: MVO;
MBHA HHE MV 10= Group: MVO;
MBHA SHZ MV 10= Group: MVO SPZ;
MBLG HHZ MV 00= Longitude: -62.16225; Latitude: 16.725
MBLG HHZ MV 00= Group: MVO;
MBLG HHZ MV 00= Group: MVO Z;
MBLG HH1 MV 00= Group: MVO;
MBLG HH2 MV 00= Group: MVO;
MBLG EHZ MV 00= Group: MVO SPZ;
MBLY HHZ MV 00= Longitude: -62.191; Latitude: 16.7213333
MBLY HHZ MV 00= Group: MVO;
MBLY HHZ MV 00= Group: MVO Z;
MBLY HH1 MV 00= Group: MVO;
MBLY HH2 MV 00= Group: MVO;
MBLY EHZ MV 00= Group: MVO SPZ;
MBRV BHZ MV --= Longitude: -62.196; Latitude: 16.8113333
MBRV BHZ MV --= Group: MVO;
MBRV BHZ MV --= Group: MVO Z;
MBRV BHN MV --= Group: MVO;
MBRV BHE MV --= Group: MVO;
MBRV SHZ MV --= Group: MVO SPZ;
MBRY BHZ MV --= Longitude: -62.1531667; Latitude: 16.7039
MBRY BHZ MV --= Group: MVO;
MBRY BHZ MV --= Group: MVO Z;
MBRY BHN MV --= Group: MVO;
MBRY BHE MV --= Group: MVO;
MBRY SHZ MV --= Group: MVO SPZ;
MBWH HHZ MV 00= Longitude: -62.1909333; Latitude: 16.7421833
MBWH HHZ MV 00= Group: MVO;
MBWH HHZ MV 00= Group: MVO Z;
MBWH HH1 MV 00= Group: MVO;
MBWH HH2 MV 00= Group: MVO;
MBWH EHZ MV 00= Group: MVO SPZ;
MSS1 SHZ MV --= Longitude: -62.1780; Latitude: 16.72182
MSS1 SHZ MV --= Group: MVO;
MSS1 SHZ MV --= Group: MVO Z;
MSS1 SHZ MV --= Group: MVO SPZ;
SABA BHZ NA --= Group: Regional;
SABA BHN NA --= Group: Regional;
SABA BHE NA --= Group: Regional;
SFAN HHZ TR --= Longitude: -61.165876; Latitude: 13.381502
SFAN HHZ TR --= Group: SMU;
SFAN HHN TR --= Group: SMU;
SFAN HHE TR --= Group: SMU;
SFAN EHZ TR 00= Group: SMU;
SOA EHZ TR --= Longitude: -61.14861; Latitude: 13.37347
SOA EHZ TR --= Group: SMU;
SSVA HHZ TR --= Longitude: -61.182508; Latitude: 13.323083
SSVA HHZ TR --= Group: SMU;
SSVA HHN TR --= Group: SMU;
SSVA HHE TR --= Group: SMU;
SSVA EHZ TR 00= Group: SMU;
SVB HHZ TR --= Longitude: -61.25040; Latitude: 13.27450
SVB HHZ TR --= Group: SRC Regional;
SVB HHZ TR --= Group: SMU;
SVB HHN TR --= Group: SMU;
SVB HHN TR --= Group: SRC Regional;
SVB HHE TR --= Group: SMU;
SVB HHE TR --= Group: SRC Regional;
SVB EHZ TR 00= Group: SMU;
SVGT HHZ TR --= Longitude: -61.1193; Latitude: 13.2805
SVGT HHZ TR --= Group: SMU;
SVGT HHN TR --= Group: SMU;
SVGT HHE TR --= Group: SMU;
SVGT EHZ TR 00= Group: SMU;
SVT HHZ TR --= Longitude: -61.24500; Latitude: 13.16800
SVT HHZ TR --= Group: SMU;
SVT HHN TR --= Group: SMU;
SVT HHE TR --= Group: SMU;
SVT EHZ TR 00= Group: SMU;
SVV HHZ TR --= Longitude: -61.2160; Latitude: 13.3180
SVV HHZ TR --= Group: SMU;
SVV HHN TR --= Group: SMU;
SVV HHE TR --= Group: SMU;
SVV EHZ TR 00= Group: SMU;

