chooser.source=MBGH
chooser.source=MBLG
chooser.source=MBFR
chooser.source=MBLY
chooser.source=MBBY
chooser.source=MBFL

helicorder=helicorder-0
helicorder=helicorder-1
helicorder=helicorder-2
helicorder=helicorder-3

helicorder-0.alertClip=false

helicorder-0.alertClipTimeout=300

helicorder-0.autoScale=true

helicorder-0.barMult=9.75

helicorder-0.barRange=30253.0

helicorder-0.bottomTime=NaN

helicorder-0.channel=MBFR HHZ MV 00

helicorder-0.clipBars=21

helicorder-0.clipValue=65161.0

helicorder-0.forceCenter=false

helicorder-0.h=561

helicorder-0.maximized=false

helicorder-0.pinned=false

helicorder-0.refreshInterval=15

helicorder-0.scrollSize=24

helicorder-0.showClip=true

helicorder-0.source=MBFR

helicorder-0.span=360

helicorder-0.timeChunk=600

helicorder-0.w=960

helicorder-0.wave.alternateOrientationCode=Z12

helicorder-0.wave.autoScaleAmp=true

helicorder-0.wave.autoScaleAmpMemory=true

helicorder-0.wave.autoScalePower=false

helicorder-0.wave.autoScalePowerMemory=true

helicorder-0.wave.autoScaleSpectrogramPower=false

helicorder-0.wave.autoScaleSpectrogramPowerMemory=true

helicorder-0.wave.binSize=2.0

helicorder-0.wave.filter.corner1=1.0

helicorder-0.wave.filter.corner2=10.0

helicorder-0.wave.filter.order=4

helicorder-0.wave.filter.samplingRate=100.0

helicorder-0.wave.filter.type=B

helicorder-0.wave.filterOn=false

helicorder-0.wave.nfft=0

helicorder-0.wave.removeBias=true

helicorder-0.wave.spectraLogFreq=true

helicorder-0.wave.spectraLogPower=true

helicorder-0.wave.spectraMaxFreq=100.0

helicorder-0.wave.spectraMaxPower=5.0

helicorder-0.wave.spectraMinFreq=0.0

helicorder-0.wave.spectraMinPower=1.0

helicorder-0.wave.spectrogramLogPower=true

helicorder-0.wave.spectrogramMaxFreq=100.0

helicorder-0.wave.spectrogramMaxPower=120.0

helicorder-0.wave.spectrogramMinFreq=0.0

helicorder-0.wave.spectrogramMinPower=20.0

helicorder-0.wave.spectrogramOverlap=0.86

helicorder-0.wave.useAlternateOrientationCode=false

helicorder-0.wave.useAlternateSpectrum=false

helicorder-0.wave.useUnits=true

helicorder-0.wave.viewType=W

helicorder-0.wave.waveMaxAmp=1000.0

helicorder-0.wave.waveMinAmp=-1000.0

helicorder-0.wave.zeroPhaseShift=false

helicorder-0.waveZoomOffset=30

helicorder-0.x=0

helicorder-0.y=0

helicorder-1.alertClip=false

helicorder-1.alertClipTimeout=300

helicorder-1.autoScale=true

helicorder-1.barMult=9.75

helicorder-1.barRange=24966.0

helicorder-1.bottomTime=NaN

helicorder-1.channel=MBLY HHZ MV 00

helicorder-1.clipBars=21

helicorder-1.clipValue=53773.0

helicorder-1.forceCenter=false

helicorder-1.h=561

helicorder-1.maximized=false

helicorder-1.pinned=false

helicorder-1.refreshInterval=15

helicorder-1.scrollSize=24

helicorder-1.showClip=true

helicorder-1.source=MBLY

helicorder-1.span=360

helicorder-1.timeChunk=600

helicorder-1.w=960

helicorder-1.wave.alternateOrientationCode=Z12

helicorder-1.wave.autoScaleAmp=true

helicorder-1.wave.autoScaleAmpMemory=true

helicorder-1.wave.autoScalePower=false

helicorder-1.wave.autoScalePowerMemory=true

helicorder-1.wave.autoScaleSpectrogramPower=false

helicorder-1.wave.autoScaleSpectrogramPowerMemory=true

helicorder-1.wave.binSize=2.0

helicorder-1.wave.filter.corner1=1.0

helicorder-1.wave.filter.corner2=10.0

helicorder-1.wave.filter.order=4

helicorder-1.wave.filter.samplingRate=100.0

helicorder-1.wave.filter.type=B

helicorder-1.wave.filterOn=false

helicorder-1.wave.nfft=0

helicorder-1.wave.removeBias=true

helicorder-1.wave.spectraLogFreq=true

helicorder-1.wave.spectraLogPower=true

helicorder-1.wave.spectraMaxFreq=100.0

helicorder-1.wave.spectraMaxPower=5.0

helicorder-1.wave.spectraMinFreq=0.0

helicorder-1.wave.spectraMinPower=1.0

helicorder-1.wave.spectrogramLogPower=true

helicorder-1.wave.spectrogramMaxFreq=100.0

helicorder-1.wave.spectrogramMaxPower=120.0

helicorder-1.wave.spectrogramMinFreq=0.0

helicorder-1.wave.spectrogramMinPower=20.0

helicorder-1.wave.spectrogramOverlap=0.86

helicorder-1.wave.useAlternateOrientationCode=false

helicorder-1.wave.useAlternateSpectrum=false

helicorder-1.wave.useUnits=true

helicorder-1.wave.viewType=W

helicorder-1.wave.waveMaxAmp=1000.0

helicorder-1.wave.waveMinAmp=-1000.0

helicorder-1.wave.zeroPhaseShift=false

helicorder-1.waveZoomOffset=30

helicorder-1.x=960

helicorder-1.y=0

helicorder-2.alertClip=false

helicorder-2.alertClipTimeout=300

helicorder-2.autoScale=true

helicorder-2.barMult=9.75

helicorder-2.barRange=23287.0

helicorder-2.bottomTime=NaN

helicorder-2.channel=MBLG HHZ MV 00

helicorder-2.clipBars=21

helicorder-2.clipValue=50156.0

helicorder-2.forceCenter=false

helicorder-2.h=561

helicorder-2.maximized=false

helicorder-2.pinned=false

helicorder-2.refreshInterval=15

helicorder-2.scrollSize=24

helicorder-2.showClip=true

helicorder-2.source=MBLG

helicorder-2.span=360

helicorder-2.timeChunk=600

helicorder-2.w=960

helicorder-2.wave.alternateOrientationCode=Z12

helicorder-2.wave.autoScaleAmp=true

helicorder-2.wave.autoScaleAmpMemory=true

helicorder-2.wave.autoScalePower=false

helicorder-2.wave.autoScalePowerMemory=true

helicorder-2.wave.autoScaleSpectrogramPower=false

helicorder-2.wave.autoScaleSpectrogramPowerMemory=true

helicorder-2.wave.binSize=2.0

helicorder-2.wave.filter.corner1=1.0

helicorder-2.wave.filter.corner2=10.0

helicorder-2.wave.filter.order=4

helicorder-2.wave.filter.samplingRate=100.0

helicorder-2.wave.filter.type=B

helicorder-2.wave.filterOn=false

helicorder-2.wave.nfft=0

helicorder-2.wave.removeBias=true

helicorder-2.wave.spectraLogFreq=true

helicorder-2.wave.spectraLogPower=true

helicorder-2.wave.spectraMaxFreq=100.0

helicorder-2.wave.spectraMaxPower=5.0

helicorder-2.wave.spectraMinFreq=0.0

helicorder-2.wave.spectraMinPower=1.0

helicorder-2.wave.spectrogramLogPower=true

helicorder-2.wave.spectrogramMaxFreq=100.0

helicorder-2.wave.spectrogramMaxPower=120.0

helicorder-2.wave.spectrogramMinFreq=0.0

helicorder-2.wave.spectrogramMinPower=20.0

helicorder-2.wave.spectrogramOverlap=0.86

helicorder-2.wave.useAlternateOrientationCode=false

helicorder-2.wave.useAlternateSpectrum=false

helicorder-2.wave.useUnits=true

helicorder-2.wave.viewType=W

helicorder-2.wave.waveMaxAmp=1000.0

helicorder-2.wave.waveMinAmp=-1000.0

helicorder-2.wave.zeroPhaseShift=false

helicorder-2.waveZoomOffset=30

helicorder-2.x=0

helicorder-2.y=561

helicorder-3.alertClip=false

helicorder-3.alertClipTimeout=300

helicorder-3.autoScale=true

helicorder-3.barMult=9.75

helicorder-3.barRange=14549.0

helicorder-3.bottomTime=NaN

helicorder-3.channel=MBFL HHZ MV 00

helicorder-3.clipBars=21

helicorder-3.clipValue=31337.0

helicorder-3.forceCenter=false

helicorder-3.h=561

helicorder-3.maximized=false

helicorder-3.pinned=false

helicorder-3.refreshInterval=15

helicorder-3.scrollSize=24

helicorder-3.showClip=true

helicorder-3.source=MBFL

helicorder-3.span=360

helicorder-3.timeChunk=600

helicorder-3.w=960

helicorder-3.wave.alternateOrientationCode=Z12

helicorder-3.wave.autoScaleAmp=true

helicorder-3.wave.autoScaleAmpMemory=true

helicorder-3.wave.autoScalePower=false

helicorder-3.wave.autoScalePowerMemory=true

helicorder-3.wave.autoScaleSpectrogramPower=false

helicorder-3.wave.autoScaleSpectrogramPowerMemory=true

helicorder-3.wave.binSize=2.0

helicorder-3.wave.filter.corner1=1.0

helicorder-3.wave.filter.corner2=10.0

helicorder-3.wave.filter.order=4

helicorder-3.wave.filter.samplingRate=100.0

helicorder-3.wave.filter.type=B

helicorder-3.wave.filterOn=false

helicorder-3.wave.nfft=0

helicorder-3.wave.removeBias=true

helicorder-3.wave.spectraLogFreq=true

helicorder-3.wave.spectraLogPower=true

helicorder-3.wave.spectraMaxFreq=100.0

helicorder-3.wave.spectraMaxPower=5.0

helicorder-3.wave.spectraMinFreq=0.0

helicorder-3.wave.spectraMinPower=1.0

helicorder-3.wave.spectrogramLogPower=true

helicorder-3.wave.spectrogramMaxFreq=100.0

helicorder-3.wave.spectrogramMaxPower=120.0

helicorder-3.wave.spectrogramMinFreq=0.0

helicorder-3.wave.spectrogramMinPower=20.0

helicorder-3.wave.spectrogramOverlap=0.86

helicorder-3.wave.useAlternateOrientationCode=false

helicorder-3.wave.useAlternateSpectrum=false

helicorder-3.wave.useUnits=true

helicorder-3.wave.viewType=W

helicorder-3.wave.waveMaxAmp=1000.0

helicorder-3.wave.waveMinAmp=-1000.0

helicorder-3.wave.zeroPhaseShift=false

helicorder-3.waveZoomOffset=30

helicorder-3.x=960

helicorder-3.y=561

kiosk=false

kioskX=-5

kioskY=22

name=heli-4-direct

