chooser.source=winston2

kiosk=false

kioskX=-5

kioskY=22

map.h=1119

map.maximized=false

map.panel.colorSetting=AGE

map.panel.hideLegend=false

map.panel.hideStations=false

map.panel.labelSetting=A

map.panel.latitude=16.7257

map.panel.longitude=-62.188

map.panel.scale=23.2

map.panel.wave-0.activeChannel=MBLG HHZ MV 00

map.panel.wave-0.hash=-6216208.275

map.panel.wave-0.settings.alternateOrientationCode=Z12

map.panel.wave-0.settings.autoScaleAmp=true

map.panel.wave-0.settings.autoScaleAmpMemory=true

map.panel.wave-0.settings.autoScalePower=false

map.panel.wave-0.settings.autoScalePowerMemory=true

map.panel.wave-0.settings.autoScaleSpectrogramPower=false

map.panel.wave-0.settings.autoScaleSpectrogramPowerMemory=true

map.panel.wave-0.settings.binSize=2.0

map.panel.wave-0.settings.filter.corner1=0.1

map.panel.wave-0.settings.filter.corner2=0.0

map.panel.wave-0.settings.filter.order=4

map.panel.wave-0.settings.filter.samplingRate=200.0

map.panel.wave-0.settings.filter.type=H

map.panel.wave-0.settings.filterOn=true

map.panel.wave-0.settings.nfft=0

map.panel.wave-0.settings.removeBias=true

map.panel.wave-0.settings.spectraLogFreq=true

map.panel.wave-0.settings.spectraLogPower=true

map.panel.wave-0.settings.spectraMaxFreq=25.0

map.panel.wave-0.settings.spectraMaxPower=5.0

map.panel.wave-0.settings.spectraMinFreq=0.0

map.panel.wave-0.settings.spectraMinPower=1.0

map.panel.wave-0.settings.spectrogramLogPower=true

map.panel.wave-0.settings.spectrogramMaxFreq=25.0

map.panel.wave-0.settings.spectrogramMaxPower=120.0

map.panel.wave-0.settings.spectrogramMinFreq=0.0

map.panel.wave-0.settings.spectrogramMinPower=20.0

map.panel.wave-0.settings.spectrogramOverlap=0.86

map.panel.wave-0.settings.useAlternateOrientationCode=false

map.panel.wave-0.settings.useAlternateSpectrum=false

map.panel.wave-0.settings.useUnits=true

map.panel.wave-0.settings.viewType=W

map.panel.wave-0.settings.waveMaxAmp=1000.0

map.panel.wave-0.settings.waveMinAmp=-1000.0

map.panel.wave-0.settings.zeroPhaseShift=false

map.panel.wave-0.sizeIndex=6

map.panel.wave-0.x=1359

map.panel.wave-0.y=371

map.panel.wave-1.activeChannel=MBGH HHZ MV 00

map.panel.wave-1.hash=-6220846.6074333

map.panel.wave-1.settings.alternateOrientationCode=Z12

map.panel.wave-1.settings.autoScaleAmp=true

map.panel.wave-1.settings.autoScaleAmpMemory=true

map.panel.wave-1.settings.autoScalePower=false

map.panel.wave-1.settings.autoScalePowerMemory=true

map.panel.wave-1.settings.autoScaleSpectrogramPower=false

map.panel.wave-1.settings.autoScaleSpectrogramPowerMemory=true

map.panel.wave-1.settings.binSize=2.0

map.panel.wave-1.settings.filter.corner1=0.01

map.panel.wave-1.settings.filter.corner2=0.0

map.panel.wave-1.settings.filter.order=4

map.panel.wave-1.settings.filter.samplingRate=200.0

map.panel.wave-1.settings.filter.type=H

map.panel.wave-1.settings.filterOn=true

map.panel.wave-1.settings.nfft=0

map.panel.wave-1.settings.removeBias=true

map.panel.wave-1.settings.spectraLogFreq=true

map.panel.wave-1.settings.spectraLogPower=true

map.panel.wave-1.settings.spectraMaxFreq=25.0

map.panel.wave-1.settings.spectraMaxPower=5.0

map.panel.wave-1.settings.spectraMinFreq=0.0

map.panel.wave-1.settings.spectraMinPower=1.0

map.panel.wave-1.settings.spectrogramLogPower=true

map.panel.wave-1.settings.spectrogramMaxFreq=25.0

map.panel.wave-1.settings.spectrogramMaxPower=120.0

map.panel.wave-1.settings.spectrogramMinFreq=0.0

map.panel.wave-1.settings.spectrogramMinPower=20.0

map.panel.wave-1.settings.spectrogramOverlap=0.86

map.panel.wave-1.settings.useAlternateOrientationCode=false

map.panel.wave-1.settings.useAlternateSpectrum=false

map.panel.wave-1.settings.useUnits=true

map.panel.wave-1.settings.viewType=W

map.panel.wave-1.settings.waveMaxAmp=1000.0

map.panel.wave-1.settings.waveMinAmp=-1000.0

map.panel.wave-1.settings.zeroPhaseShift=false

map.panel.wave-1.sizeIndex=6

map.panel.wave-1.x=31

map.panel.wave-1.y=545

map.panel.wave-10.activeChannel=MBLY HHZ MV 00

map.panel.wave-10.hash=-6219083.2786667

map.panel.wave-10.settings.alternateOrientationCode=Z12

map.panel.wave-10.settings.autoScaleAmp=true

map.panel.wave-10.settings.autoScaleAmpMemory=true

map.panel.wave-10.settings.autoScalePower=false

map.panel.wave-10.settings.autoScalePowerMemory=true

map.panel.wave-10.settings.autoScaleSpectrogramPower=false

map.panel.wave-10.settings.autoScaleSpectrogramPowerMemory=true

map.panel.wave-10.settings.binSize=2.0

map.panel.wave-10.settings.filter.corner1=0.1

map.panel.wave-10.settings.filter.corner2=0.0

map.panel.wave-10.settings.filter.order=4

map.panel.wave-10.settings.filter.samplingRate=200.0

map.panel.wave-10.settings.filter.type=H

map.panel.wave-10.settings.filterOn=true

map.panel.wave-10.settings.nfft=0

map.panel.wave-10.settings.removeBias=true

map.panel.wave-10.settings.spectraLogFreq=true

map.panel.wave-10.settings.spectraLogPower=true

map.panel.wave-10.settings.spectraMaxFreq=25.0

map.panel.wave-10.settings.spectraMaxPower=5.0

map.panel.wave-10.settings.spectraMinFreq=0.0

map.panel.wave-10.settings.spectraMinPower=1.0

map.panel.wave-10.settings.spectrogramLogPower=true

map.panel.wave-10.settings.spectrogramMaxFreq=25.0

map.panel.wave-10.settings.spectrogramMaxPower=120.0

map.panel.wave-10.settings.spectrogramMinFreq=0.0

map.panel.wave-10.settings.spectrogramMinPower=20.0

map.panel.wave-10.settings.spectrogramOverlap=0.86

map.panel.wave-10.settings.useAlternateOrientationCode=false

map.panel.wave-10.settings.useAlternateSpectrum=false

map.panel.wave-10.settings.useUnits=true

map.panel.wave-10.settings.viewType=W

map.panel.wave-10.settings.waveMaxAmp=1000.0

map.panel.wave-10.settings.waveMinAmp=-1000.0

map.panel.wave-10.settings.zeroPhaseShift=false

map.panel.wave-10.sizeIndex=6

map.panel.wave-10.x=374

map.panel.wave-10.y=866

map.panel.wave-11.activeChannel=MBGB HHZ MV 00

map.panel.wave-11.hash=-6222759.9379333

map.panel.wave-11.settings.alternateOrientationCode=Z12

map.panel.wave-11.settings.autoScaleAmp=true

map.panel.wave-11.settings.autoScaleAmpMemory=true

map.panel.wave-11.settings.autoScalePower=false

map.panel.wave-11.settings.autoScalePowerMemory=true

map.panel.wave-11.settings.autoScaleSpectrogramPower=false

map.panel.wave-11.settings.autoScaleSpectrogramPowerMemory=true

map.panel.wave-11.settings.binSize=2.0

map.panel.wave-11.settings.filter.corner1=0.01

map.panel.wave-11.settings.filter.corner2=0.0

map.panel.wave-11.settings.filter.order=4

map.panel.wave-11.settings.filter.samplingRate=100.0

map.panel.wave-11.settings.filter.type=H

map.panel.wave-11.settings.filterOn=true

map.panel.wave-11.settings.nfft=0

map.panel.wave-11.settings.removeBias=true

map.panel.wave-11.settings.spectraLogFreq=true

map.panel.wave-11.settings.spectraLogPower=true

map.panel.wave-11.settings.spectraMaxFreq=25.0

map.panel.wave-11.settings.spectraMaxPower=5.0

map.panel.wave-11.settings.spectraMinFreq=0.0

map.panel.wave-11.settings.spectraMinPower=1.0

map.panel.wave-11.settings.spectrogramLogPower=true

map.panel.wave-11.settings.spectrogramMaxFreq=25.0

map.panel.wave-11.settings.spectrogramMaxPower=120.0

map.panel.wave-11.settings.spectrogramMinFreq=0.0

map.panel.wave-11.settings.spectrogramMinPower=20.0

map.panel.wave-11.settings.spectrogramOverlap=0.86

map.panel.wave-11.settings.useAlternateOrientationCode=false

map.panel.wave-11.settings.useAlternateSpectrum=false

map.panel.wave-11.settings.useUnits=true

map.panel.wave-11.settings.viewType=W

map.panel.wave-11.settings.waveMaxAmp=1000.0

map.panel.wave-11.settings.waveMinAmp=-1000.0

map.panel.wave-11.settings.zeroPhaseShift=false

map.panel.wave-11.sizeIndex=6

map.panel.wave-11.x=30

map.panel.wave-11.y=378

map.panel.wave-2.activeChannel=MBHA SHZ MV --

map.panel.wave-2.hash=-6216805.25799

map.panel.wave-2.settings.alternateOrientationCode=Z12

map.panel.wave-2.settings.autoScaleAmp=true

map.panel.wave-2.settings.autoScaleAmpMemory=true

map.panel.wave-2.settings.autoScalePower=false

map.panel.wave-2.settings.autoScalePowerMemory=true

map.panel.wave-2.settings.autoScaleSpectrogramPower=false

map.panel.wave-2.settings.autoScaleSpectrogramPowerMemory=true

map.panel.wave-2.settings.binSize=2.0

map.panel.wave-2.settings.filter.corner1=1.0

map.panel.wave-2.settings.filter.corner2=10.0

map.panel.wave-2.settings.filter.order=4

map.panel.wave-2.settings.filter.samplingRate=100.0

map.panel.wave-2.settings.filter.type=B

map.panel.wave-2.settings.filterOn=false

map.panel.wave-2.settings.nfft=0

map.panel.wave-2.settings.removeBias=true

map.panel.wave-2.settings.spectraLogFreq=true

map.panel.wave-2.settings.spectraLogPower=true

map.panel.wave-2.settings.spectraMaxFreq=25.0

map.panel.wave-2.settings.spectraMaxPower=5.0

map.panel.wave-2.settings.spectraMinFreq=0.0

map.panel.wave-2.settings.spectraMinPower=1.0

map.panel.wave-2.settings.spectrogramLogPower=true

map.panel.wave-2.settings.spectrogramMaxFreq=25.0

map.panel.wave-2.settings.spectrogramMaxPower=120.0

map.panel.wave-2.settings.spectrogramMinFreq=0.0

map.panel.wave-2.settings.spectrogramMinPower=20.0

map.panel.wave-2.settings.spectrogramOverlap=0.859375

map.panel.wave-2.settings.useAlternateOrientationCode=false

map.panel.wave-2.settings.useAlternateSpectrum=false

map.panel.wave-2.settings.useUnits=true

map.panel.wave-2.settings.viewType=W

map.panel.wave-2.settings.waveMaxAmp=1000.0

map.panel.wave-2.settings.waveMinAmp=-1000.0

map.panel.wave-2.settings.zeroPhaseShift=true

map.panel.wave-2.sizeIndex=6

map.panel.wave-2.x=1358

map.panel.wave-2.y=202

map.panel.wave-3.activeChannel=MBRV BHZ MV --

map.panel.wave-3.hash=-6219583.1886667

map.panel.wave-3.settings.alternateOrientationCode=Z12

map.panel.wave-3.settings.autoScaleAmp=true

map.panel.wave-3.settings.autoScaleAmpMemory=true

map.panel.wave-3.settings.autoScalePower=false

map.panel.wave-3.settings.autoScalePowerMemory=true

map.panel.wave-3.settings.autoScaleSpectrogramPower=false

map.panel.wave-3.settings.autoScaleSpectrogramPowerMemory=true

map.panel.wave-3.settings.binSize=2.0

map.panel.wave-3.settings.filter.corner1=1.0

map.panel.wave-3.settings.filter.corner2=10.0

map.panel.wave-3.settings.filter.order=4

map.panel.wave-3.settings.filter.samplingRate=100.0

map.panel.wave-3.settings.filter.type=B

map.panel.wave-3.settings.filterOn=false

map.panel.wave-3.settings.nfft=0

map.panel.wave-3.settings.removeBias=true

map.panel.wave-3.settings.spectraLogFreq=true

map.panel.wave-3.settings.spectraLogPower=true

map.panel.wave-3.settings.spectraMaxFreq=25.0

map.panel.wave-3.settings.spectraMaxPower=5.0

map.panel.wave-3.settings.spectraMinFreq=0.0

map.panel.wave-3.settings.spectraMinPower=1.0

map.panel.wave-3.settings.spectrogramLogPower=true

map.panel.wave-3.settings.spectrogramMaxFreq=25.0

map.panel.wave-3.settings.spectrogramMaxPower=120.0

map.panel.wave-3.settings.spectrogramMinFreq=0.0

map.panel.wave-3.settings.spectrogramMinPower=20.0

map.panel.wave-3.settings.spectrogramOverlap=0.859375

map.panel.wave-3.settings.useAlternateOrientationCode=false

map.panel.wave-3.settings.useAlternateSpectrum=false

map.panel.wave-3.settings.useUnits=true

map.panel.wave-3.settings.viewType=W

map.panel.wave-3.settings.waveMaxAmp=1000.0

map.panel.wave-3.settings.waveMinAmp=-1000.0

map.panel.wave-3.settings.zeroPhaseShift=true

map.panel.wave-3.sizeIndex=6

map.panel.wave-3.x=31

map.panel.wave-3.y=32

map.panel.wave-4.activeChannel=MBFL HHZ MV 00

map.panel.wave-4.hash=-6221233.2515

map.panel.wave-4.settings.alternateOrientationCode=Z12

map.panel.wave-4.settings.autoScaleAmp=true

map.panel.wave-4.settings.autoScaleAmpMemory=true

map.panel.wave-4.settings.autoScalePower=false

map.panel.wave-4.settings.autoScalePowerMemory=true

map.panel.wave-4.settings.autoScaleSpectrogramPower=false

map.panel.wave-4.settings.autoScaleSpectrogramPowerMemory=true

map.panel.wave-4.settings.binSize=2.0

map.panel.wave-4.settings.filter.corner1=0.1

map.panel.wave-4.settings.filter.corner2=0.0

map.panel.wave-4.settings.filter.order=4

map.panel.wave-4.settings.filter.samplingRate=200.0

map.panel.wave-4.settings.filter.type=H

map.panel.wave-4.settings.filterOn=true

map.panel.wave-4.settings.nfft=0

map.panel.wave-4.settings.removeBias=true

map.panel.wave-4.settings.spectraLogFreq=true

map.panel.wave-4.settings.spectraLogPower=true

map.panel.wave-4.settings.spectraMaxFreq=25.0

map.panel.wave-4.settings.spectraMaxPower=5.0

map.panel.wave-4.settings.spectraMinFreq=0.0

map.panel.wave-4.settings.spectraMinPower=1.0

map.panel.wave-4.settings.spectrogramLogPower=true

map.panel.wave-4.settings.spectrogramMaxFreq=25.0

map.panel.wave-4.settings.spectrogramMaxPower=120.0

map.panel.wave-4.settings.spectrogramMinFreq=0.0

map.panel.wave-4.settings.spectrogramMinPower=20.0

map.panel.wave-4.settings.spectrogramOverlap=0.86

map.panel.wave-4.settings.useAlternateOrientationCode=false

map.panel.wave-4.settings.useAlternateSpectrum=false

map.panel.wave-4.settings.useUnits=true

map.panel.wave-4.settings.viewType=W

map.panel.wave-4.settings.waveMaxAmp=1000.0

map.panel.wave-4.settings.waveMinAmp=-1000.0

map.panel.wave-4.settings.zeroPhaseShift=false

map.panel.wave-4.sizeIndex=6

map.panel.wave-4.x=30

map.panel.wave-4.y=201

map.panel.wave-5.activeChannel=MBBY HHZ MV 00

map.panel.wave-5.hash=-6220238.3023167

map.panel.wave-5.settings.alternateOrientationCode=Z12

map.panel.wave-5.settings.autoScaleAmp=true

map.panel.wave-5.settings.autoScaleAmpMemory=true

map.panel.wave-5.settings.autoScalePower=false

map.panel.wave-5.settings.autoScalePowerMemory=true

map.panel.wave-5.settings.autoScaleSpectrogramPower=false

map.panel.wave-5.settings.autoScaleSpectrogramPowerMemory=true

map.panel.wave-5.settings.binSize=2.0

map.panel.wave-5.settings.filter.corner1=0.01

map.panel.wave-5.settings.filter.corner2=0.0

map.panel.wave-5.settings.filter.order=4

map.panel.wave-5.settings.filter.samplingRate=200.0

map.panel.wave-5.settings.filter.type=H

map.panel.wave-5.settings.filterOn=true

map.panel.wave-5.settings.nfft=0

map.panel.wave-5.settings.removeBias=true

map.panel.wave-5.settings.spectraLogFreq=true

map.panel.wave-5.settings.spectraLogPower=true

map.panel.wave-5.settings.spectraMaxFreq=25.0

map.panel.wave-5.settings.spectraMaxPower=5.0

map.panel.wave-5.settings.spectraMinFreq=0.0

map.panel.wave-5.settings.spectraMinPower=1.0

map.panel.wave-5.settings.spectrogramLogPower=true

map.panel.wave-5.settings.spectrogramMaxFreq=25.0

map.panel.wave-5.settings.spectrogramMaxPower=120.0

map.panel.wave-5.settings.spectrogramMinFreq=0.0

map.panel.wave-5.settings.spectrogramMinPower=20.0

map.panel.wave-5.settings.spectrogramOverlap=0.86

map.panel.wave-5.settings.useAlternateOrientationCode=false

map.panel.wave-5.settings.useAlternateSpectrum=false

map.panel.wave-5.settings.useUnits=true

map.panel.wave-5.settings.viewType=W

map.panel.wave-5.settings.waveMaxAmp=1000.0

map.panel.wave-5.settings.waveMinAmp=-1000.0

map.panel.wave-5.settings.zeroPhaseShift=false

map.panel.wave-5.sizeIndex=6

map.panel.wave-5.x=30

map.panel.wave-5.y=704

map.panel.wave-6.activeChannel=MBWH HHZ MV 00

map.panel.wave-6.hash=-6219076.5878167

map.panel.wave-6.settings.alternateOrientationCode=Z12

map.panel.wave-6.settings.autoScaleAmp=true

map.panel.wave-6.settings.autoScaleAmpMemory=true

map.panel.wave-6.settings.autoScalePower=false

map.panel.wave-6.settings.autoScalePowerMemory=true

map.panel.wave-6.settings.autoScaleSpectrogramPower=false

map.panel.wave-6.settings.autoScaleSpectrogramPowerMemory=true

map.panel.wave-6.settings.binSize=2.0

map.panel.wave-6.settings.filter.corner1=1.0

map.panel.wave-6.settings.filter.corner2=10.0

map.panel.wave-6.settings.filter.order=4

map.panel.wave-6.settings.filter.samplingRate=100.0

map.panel.wave-6.settings.filter.type=B

map.panel.wave-6.settings.filterOn=false

map.panel.wave-6.settings.nfft=0

map.panel.wave-6.settings.removeBias=true

map.panel.wave-6.settings.spectraLogFreq=true

map.panel.wave-6.settings.spectraLogPower=true

map.panel.wave-6.settings.spectraMaxFreq=25.0

map.panel.wave-6.settings.spectraMaxPower=5.0

map.panel.wave-6.settings.spectraMinFreq=0.0

map.panel.wave-6.settings.spectraMinPower=1.0

map.panel.wave-6.settings.spectrogramLogPower=true

map.panel.wave-6.settings.spectrogramMaxFreq=25.0

map.panel.wave-6.settings.spectrogramMaxPower=120.0

map.panel.wave-6.settings.spectrogramMinFreq=0.0

map.panel.wave-6.settings.spectrogramMinPower=20.0

map.panel.wave-6.settings.spectrogramOverlap=0.859375

map.panel.wave-6.settings.useAlternateOrientationCode=false

map.panel.wave-6.settings.useAlternateSpectrum=false

map.panel.wave-6.settings.useUnits=true

map.panel.wave-6.settings.viewType=W

map.panel.wave-6.settings.waveMaxAmp=1000.0

map.panel.wave-6.settings.waveMinAmp=-1000.0

map.panel.wave-6.settings.zeroPhaseShift=true

map.panel.wave-6.sizeIndex=6

map.panel.wave-6.x=1358

map.panel.wave-6.y=32

map.panel.wave-7.activeChannel=MSS1 SHZ MV --

map.panel.wave-7.hash=-6217783.27818

map.panel.wave-7.settings.alternateOrientationCode=Z12

map.panel.wave-7.settings.autoScaleAmp=true

map.panel.wave-7.settings.autoScaleAmpMemory=true

map.panel.wave-7.settings.autoScalePower=false

map.panel.wave-7.settings.autoScalePowerMemory=true

map.panel.wave-7.settings.autoScaleSpectrogramPower=false

map.panel.wave-7.settings.autoScaleSpectrogramPowerMemory=true

map.panel.wave-7.settings.binSize=2.0

map.panel.wave-7.settings.filter.corner1=1.0

map.panel.wave-7.settings.filter.corner2=10.0

map.panel.wave-7.settings.filter.order=4

map.panel.wave-7.settings.filter.samplingRate=100.0

map.panel.wave-7.settings.filter.type=B

map.panel.wave-7.settings.filterOn=false

map.panel.wave-7.settings.nfft=0

map.panel.wave-7.settings.removeBias=true

map.panel.wave-7.settings.spectraLogFreq=true

map.panel.wave-7.settings.spectraLogPower=true

map.panel.wave-7.settings.spectraMaxFreq=25.0

map.panel.wave-7.settings.spectraMaxPower=5.0

map.panel.wave-7.settings.spectraMinFreq=0.0

map.panel.wave-7.settings.spectraMinPower=1.0

map.panel.wave-7.settings.spectrogramLogPower=true

map.panel.wave-7.settings.spectrogramMaxFreq=25.0

map.panel.wave-7.settings.spectrogramMaxPower=120.0

map.panel.wave-7.settings.spectrogramMinFreq=0.0

map.panel.wave-7.settings.spectrogramMinPower=20.0

map.panel.wave-7.settings.spectrogramOverlap=0.859375

map.panel.wave-7.settings.useAlternateOrientationCode=false

map.panel.wave-7.settings.useAlternateSpectrum=false

map.panel.wave-7.settings.useUnits=true

map.panel.wave-7.settings.viewType=W

map.panel.wave-7.settings.waveMaxAmp=1000.0

map.panel.wave-7.settings.waveMinAmp=-1000.0

map.panel.wave-7.settings.zeroPhaseShift=true

map.panel.wave-7.sizeIndex=6

map.panel.wave-7.x=1358

map.panel.wave-7.y=545

map.panel.wave-8.activeChannel=MBFR HHZ MV 00

map.panel.wave-8.hash=-6217783.307

map.panel.wave-8.settings.alternateOrientationCode=Z12

map.panel.wave-8.settings.autoScaleAmp=true

map.panel.wave-8.settings.autoScaleAmpMemory=true

map.panel.wave-8.settings.autoScalePower=false

map.panel.wave-8.settings.autoScalePowerMemory=true

map.panel.wave-8.settings.autoScaleSpectrogramPower=false

map.panel.wave-8.settings.autoScaleSpectrogramPowerMemory=true

map.panel.wave-8.settings.binSize=2.0

map.panel.wave-8.settings.filter.corner1=0.1

map.panel.wave-8.settings.filter.corner2=0.0

map.panel.wave-8.settings.filter.order=4

map.panel.wave-8.settings.filter.samplingRate=200.0

map.panel.wave-8.settings.filter.type=H

map.panel.wave-8.settings.filterOn=true

map.panel.wave-8.settings.nfft=0

map.panel.wave-8.settings.removeBias=true

map.panel.wave-8.settings.spectraLogFreq=true

map.panel.wave-8.settings.spectraLogPower=true

map.panel.wave-8.settings.spectraMaxFreq=25.0

map.panel.wave-8.settings.spectraMaxPower=5.0

map.panel.wave-8.settings.spectraMinFreq=0.0

map.panel.wave-8.settings.spectraMinPower=1.0

map.panel.wave-8.settings.spectrogramLogPower=true

map.panel.wave-8.settings.spectrogramMaxFreq=25.0

map.panel.wave-8.settings.spectrogramMaxPower=120.0

map.panel.wave-8.settings.spectrogramMinFreq=0.0

map.panel.wave-8.settings.spectrogramMinPower=20.0

map.panel.wave-8.settings.spectrogramOverlap=0.86

map.panel.wave-8.settings.useAlternateOrientationCode=false

map.panel.wave-8.settings.useAlternateSpectrum=false

map.panel.wave-8.settings.useUnits=true

map.panel.wave-8.settings.viewType=W

map.panel.wave-8.settings.waveMaxAmp=1000.0

map.panel.wave-8.settings.waveMinAmp=-1000.0

map.panel.wave-8.settings.zeroPhaseShift=false

map.panel.wave-8.sizeIndex=5

map.panel.wave-8.x=1043

map.panel.wave-8.y=867

map.panel.wave-9.activeChannel=MBRY BHZ MV --

map.panel.wave-9.hash=-6215299.9661

map.panel.wave-9.settings.alternateOrientationCode=Z12

map.panel.wave-9.settings.autoScaleAmp=true

map.panel.wave-9.settings.autoScaleAmpMemory=true

map.panel.wave-9.settings.autoScalePower=false

map.panel.wave-9.settings.autoScalePowerMemory=true

map.panel.wave-9.settings.autoScaleSpectrogramPower=false

map.panel.wave-9.settings.autoScaleSpectrogramPowerMemory=true

map.panel.wave-9.settings.binSize=2.0

map.panel.wave-9.settings.filter.corner1=1.0

map.panel.wave-9.settings.filter.corner2=10.0

map.panel.wave-9.settings.filter.order=4

map.panel.wave-9.settings.filter.samplingRate=100.0

map.panel.wave-9.settings.filter.type=B

map.panel.wave-9.settings.filterOn=false

map.panel.wave-9.settings.nfft=0

map.panel.wave-9.settings.removeBias=true

map.panel.wave-9.settings.spectraLogFreq=true

map.panel.wave-9.settings.spectraLogPower=true

map.panel.wave-9.settings.spectraMaxFreq=25.0

map.panel.wave-9.settings.spectraMaxPower=5.0

map.panel.wave-9.settings.spectraMinFreq=0.0

map.panel.wave-9.settings.spectraMinPower=1.0

map.panel.wave-9.settings.spectrogramLogPower=true

map.panel.wave-9.settings.spectrogramMaxFreq=25.0

map.panel.wave-9.settings.spectrogramMaxPower=120.0

map.panel.wave-9.settings.spectrogramMinFreq=0.0

map.panel.wave-9.settings.spectrogramMinPower=20.0

map.panel.wave-9.settings.spectrogramOverlap=0.859375

map.panel.wave-9.settings.useAlternateOrientationCode=false

map.panel.wave-9.settings.useAlternateSpectrum=false

map.panel.wave-9.settings.useUnits=true

map.panel.wave-9.settings.viewType=W

map.panel.wave-9.settings.waveMaxAmp=1000.0

map.panel.wave-9.settings.waveMinAmp=-1000.0

map.panel.wave-9.settings.zeroPhaseShift=true

map.panel.wave-9.sizeIndex=6

map.panel.wave-9.x=1359

map.panel.wave-9.y=704

map.panel.waves=12

map.w=1920

map.x=0

map.y=0

name=map

