chooser.source=winston2

clipboard.h=1391

clipboard.maximized=false

clipboard.w=1596

clipboard.waves=0

clipboard.x=196

clipboard.y=38

kiosk=false

kioskX=-5

kioskY=22

name=rsam-sp-4

rsam=rsam-0
rsam=rsam-1
rsam=rsam-2
rsam=rsam-3
rsam=rsam-4

rsam-0.alarm=false

rsam-0.autoScale=true

rsam-0.binSize=Hour

rsam-0.channel=MSS1 SHZ MV --

rsam-0.countsPeriod=10

rsam-0.despike=false

rsam-0.despikePeriod=0

rsam-0.detrend=false

rsam-0.eventMaxLength=300.0

rsam-0.eventRatio=1.3

rsam-0.eventThreshold=50

rsam-0.h=280

rsam-0.maximized=false

rsam-0.runningMean=false

rsam-0.runningMeanPeriod=300.0

rsam-0.runningMedian=false

rsam-0.runningMedianPeriod=300.0

rsam-0.scaleMax=100.0

rsam-0.scaleMin=0.0

rsam-0.soundFile=ding.wav

rsam-0.source=winston2

rsam-0.valuesPeriod=600

rsam-0.viewType=VALUES

rsam-0.w=3637

rsam-0.x=-1

rsam-0.y=3

rsam-1.alarm=false

rsam-1.autoScale=true

rsam-1.binSize=Hour

rsam-1.channel=MBLY EHZ MV 00

rsam-1.countsPeriod=10

rsam-1.despike=false

rsam-1.despikePeriod=0

rsam-1.detrend=false

rsam-1.eventMaxLength=300.0

rsam-1.eventRatio=1.3

rsam-1.eventThreshold=50

rsam-1.h=280

rsam-1.maximized=false

rsam-1.runningMean=false

rsam-1.runningMeanPeriod=300.0

rsam-1.runningMedian=false

rsam-1.runningMedianPeriod=300.0

rsam-1.scaleMax=100.0

rsam-1.scaleMin=0.0

rsam-1.soundFile=ding.wav

rsam-1.source=winston2

rsam-1.valuesPeriod=600

rsam-1.viewType=VALUES

rsam-1.w=3631

rsam-1.x=1

rsam-1.y=282

rsam-2.alarm=false

rsam-2.autoScale=true

rsam-2.binSize=Hour

rsam-2.channel=MBBY EHZ MV 00

rsam-2.countsPeriod=10

rsam-2.despike=false

rsam-2.despikePeriod=0

rsam-2.detrend=false

rsam-2.eventMaxLength=300.0

rsam-2.eventRatio=1.3

rsam-2.eventThreshold=50

rsam-2.h=280

rsam-2.maximized=false

rsam-2.runningMean=false

rsam-2.runningMeanPeriod=300.0

rsam-2.runningMedian=false

rsam-2.runningMedianPeriod=300.0

rsam-2.scaleMax=100.0

rsam-2.scaleMin=0.0

rsam-2.soundFile=ding.wav

rsam-2.source=winston2

rsam-2.valuesPeriod=600

rsam-2.viewType=VALUES

rsam-2.w=3626

rsam-2.x=2

rsam-2.y=561

rsam-3.alarm=false

rsam-3.autoScale=true

rsam-3.binSize=Hour

rsam-3.channel=MBGH EHZ MV 00

rsam-3.countsPeriod=10

rsam-3.despike=false

rsam-3.despikePeriod=0

rsam-3.detrend=false

rsam-3.eventMaxLength=300.0

rsam-3.eventRatio=1.3

rsam-3.eventThreshold=50

rsam-3.h=280

rsam-3.maximized=false

rsam-3.runningMean=false

rsam-3.runningMeanPeriod=300.0

rsam-3.runningMedian=false

rsam-3.runningMedianPeriod=300.0

rsam-3.scaleMax=100.0

rsam-3.scaleMin=0.0

rsam-3.soundFile=ding.wav

rsam-3.source=winston2

rsam-3.valuesPeriod=600

rsam-3.viewType=VALUES

rsam-3.w=3617

rsam-3.x=4

rsam-3.y=840

rsam-4.alarm=false

rsam-4.autoScale=true

rsam-4.binSize=Hour

rsam-4.channel=MBFL EHZ MV 00

rsam-4.countsPeriod=10

rsam-4.despike=false

rsam-4.despikePeriod=0

rsam-4.detrend=false

rsam-4.eventMaxLength=300.0

rsam-4.eventRatio=1.3

rsam-4.eventThreshold=50

rsam-4.h=280

rsam-4.maximized=false

rsam-4.runningMean=false

rsam-4.runningMeanPeriod=300.0

rsam-4.runningMedian=false

rsam-4.runningMedianPeriod=300.0

rsam-4.scaleMax=100.0

rsam-4.scaleMin=0.0

rsam-4.soundFile=ding.wav

rsam-4.source=winston2

rsam-4.valuesPeriod=600

rsam-4.viewType=VALUES

rsam-4.w=3612

rsam-4.x=7

rsam-4.y=1119

