chooser.source=winston1

kiosk=false

kioskX=-5

kioskY=22

monitor=monitor-0

monitor-0.h=1122

monitor-0.maximized=true

monitor-0.refreshInterval=1000

monitor-0.slideInterval=500

monitor-0.source=winston1

monitor-0.span=600

monitor-0.w=1920

monitor-0.wave-0.alternateOrientationCode=Z12

monitor-0.wave-0.autoScaleAmp=true

monitor-0.wave-0.autoScaleAmpMemory=true

monitor-0.wave-0.autoScalePower=false

monitor-0.wave-0.autoScalePowerMemory=true

monitor-0.wave-0.autoScaleSpectrogramPower=false

monitor-0.wave-0.autoScaleSpectrogramPowerMemory=true

monitor-0.wave-0.binSize=2.0

monitor-0.wave-0.channel=MSS1 SHZ MV --

monitor-0.wave-0.filter.corner1=1.0

monitor-0.wave-0.filter.corner2=10.0

monitor-0.wave-0.filter.order=4

monitor-0.wave-0.filter.samplingRate=100.0

monitor-0.wave-0.filter.type=B

monitor-0.wave-0.filterOn=false

monitor-0.wave-0.nfft=0

monitor-0.wave-0.removeBias=true

monitor-0.wave-0.spectraLogFreq=true

monitor-0.wave-0.spectraLogPower=true

monitor-0.wave-0.spectraMaxFreq=50.0

monitor-0.wave-0.spectraMaxPower=5.0

monitor-0.wave-0.spectraMinFreq=0.0

monitor-0.wave-0.spectraMinPower=1.0

monitor-0.wave-0.spectrogramLogPower=true

monitor-0.wave-0.spectrogramMaxFreq=50.0

monitor-0.wave-0.spectrogramMaxPower=120.0

monitor-0.wave-0.spectrogramMinFreq=0.0

monitor-0.wave-0.spectrogramMinPower=20.0

monitor-0.wave-0.spectrogramOverlap=0.86

monitor-0.wave-0.useAlternateOrientationCode=false

monitor-0.wave-0.useAlternateSpectrum=false

monitor-0.wave-0.useUnits=true

monitor-0.wave-0.viewType=G

monitor-0.wave-0.waveMaxAmp=1000.0

monitor-0.wave-0.waveMinAmp=-1000.0

monitor-0.wave-0.zeroPhaseShift=false

monitor-0.wave-1.alternateOrientationCode=Z12

monitor-0.wave-1.autoScaleAmp=true

monitor-0.wave-1.autoScaleAmpMemory=true

monitor-0.wave-1.autoScalePower=false

monitor-0.wave-1.autoScalePowerMemory=true

monitor-0.wave-1.autoScaleSpectrogramPower=false

monitor-0.wave-1.autoScaleSpectrogramPowerMemory=true

monitor-0.wave-1.binSize=2.0

monitor-0.wave-1.channel=MBFR HHZ MV 00

monitor-0.wave-1.filter.corner1=1.0

monitor-0.wave-1.filter.corner2=10.0

monitor-0.wave-1.filter.order=4

monitor-0.wave-1.filter.samplingRate=100.0

monitor-0.wave-1.filter.type=B

monitor-0.wave-1.filterOn=false

monitor-0.wave-1.nfft=0

monitor-0.wave-1.removeBias=true

monitor-0.wave-1.spectraLogFreq=true

monitor-0.wave-1.spectraLogPower=true

monitor-0.wave-1.spectraMaxFreq=50.0

monitor-0.wave-1.spectraMaxPower=5.0

monitor-0.wave-1.spectraMinFreq=0.0

monitor-0.wave-1.spectraMinPower=1.0

monitor-0.wave-1.spectrogramLogPower=true

monitor-0.wave-1.spectrogramMaxFreq=50.0

monitor-0.wave-1.spectrogramMaxPower=120.0

monitor-0.wave-1.spectrogramMinFreq=0.0

monitor-0.wave-1.spectrogramMinPower=20.0

monitor-0.wave-1.spectrogramOverlap=0.86

monitor-0.wave-1.useAlternateOrientationCode=false

monitor-0.wave-1.useAlternateSpectrum=false

monitor-0.wave-1.useUnits=true

monitor-0.wave-1.viewType=G

monitor-0.wave-1.waveMaxAmp=1000.0

monitor-0.wave-1.waveMinAmp=-1000.0

monitor-0.wave-1.zeroPhaseShift=false

monitor-0.wave-2.alternateOrientationCode=Z12

monitor-0.wave-2.autoScaleAmp=true

monitor-0.wave-2.autoScaleAmpMemory=true

monitor-0.wave-2.autoScalePower=false

monitor-0.wave-2.autoScalePowerMemory=true

monitor-0.wave-2.autoScaleSpectrogramPower=false

monitor-0.wave-2.autoScaleSpectrogramPowerMemory=true

monitor-0.wave-2.binSize=2.0

monitor-0.wave-2.channel=MBLG HHZ MV 00

monitor-0.wave-2.filter.corner1=1.0

monitor-0.wave-2.filter.corner2=10.0

monitor-0.wave-2.filter.order=4

monitor-0.wave-2.filter.samplingRate=100.0

monitor-0.wave-2.filter.type=B

monitor-0.wave-2.filterOn=false

monitor-0.wave-2.nfft=0

monitor-0.wave-2.removeBias=true

monitor-0.wave-2.spectraLogFreq=true

monitor-0.wave-2.spectraLogPower=true

monitor-0.wave-2.spectraMaxFreq=50.0

monitor-0.wave-2.spectraMaxPower=5.0

monitor-0.wave-2.spectraMinFreq=0.0

monitor-0.wave-2.spectraMinPower=1.0

monitor-0.wave-2.spectrogramLogPower=true

monitor-0.wave-2.spectrogramMaxFreq=50.0

monitor-0.wave-2.spectrogramMaxPower=120.0

monitor-0.wave-2.spectrogramMinFreq=0.0

monitor-0.wave-2.spectrogramMinPower=20.0

monitor-0.wave-2.spectrogramOverlap=0.86

monitor-0.wave-2.useAlternateOrientationCode=false

monitor-0.wave-2.useAlternateSpectrum=false

monitor-0.wave-2.useUnits=true

monitor-0.wave-2.viewType=G

monitor-0.wave-2.waveMaxAmp=1000.0

monitor-0.wave-2.waveMinAmp=-1000.0

monitor-0.wave-2.zeroPhaseShift=false

monitor-0.wave-3.alternateOrientationCode=Z12

monitor-0.wave-3.autoScaleAmp=true

monitor-0.wave-3.autoScaleAmpMemory=true

monitor-0.wave-3.autoScalePower=false

monitor-0.wave-3.autoScalePowerMemory=true

monitor-0.wave-3.autoScaleSpectrogramPower=false

monitor-0.wave-3.autoScaleSpectrogramPowerMemory=true

monitor-0.wave-3.binSize=2.0

monitor-0.wave-3.channel=MBLY HHZ MV 00

monitor-0.wave-3.filter.corner1=1.0

monitor-0.wave-3.filter.corner2=10.0

monitor-0.wave-3.filter.order=4

monitor-0.wave-3.filter.samplingRate=100.0

monitor-0.wave-3.filter.type=B

monitor-0.wave-3.filterOn=false

monitor-0.wave-3.nfft=0

monitor-0.wave-3.removeBias=true

monitor-0.wave-3.spectraLogFreq=true

monitor-0.wave-3.spectraLogPower=true

monitor-0.wave-3.spectraMaxFreq=50.0

monitor-0.wave-3.spectraMaxPower=5.0

monitor-0.wave-3.spectraMinFreq=0.0

monitor-0.wave-3.spectraMinPower=1.0

monitor-0.wave-3.spectrogramLogPower=true

monitor-0.wave-3.spectrogramMaxFreq=50.0

monitor-0.wave-3.spectrogramMaxPower=120.0

monitor-0.wave-3.spectrogramMinFreq=0.0

monitor-0.wave-3.spectrogramMinPower=20.0

monitor-0.wave-3.spectrogramOverlap=0.86

monitor-0.wave-3.useAlternateOrientationCode=false

monitor-0.wave-3.useAlternateSpectrum=false

monitor-0.wave-3.useUnits=true

monitor-0.wave-3.viewType=G

monitor-0.wave-3.waveMaxAmp=1000.0

monitor-0.wave-3.waveMinAmp=-1000.0

monitor-0.wave-3.zeroPhaseShift=false

monitor-0.waves=4

monitor-0.x=0

monitor-0.y=0

name=sgram-4-10m--winston1

