chooser.source=winston2

kiosk=false

kioskX=-949

kioskY=-1575

map.h=1119

map.maximized=false

map.panel.colorSetting=AGE

map.panel.hideLegend=false

map.panel.hideStations=false

map.panel.labelSetting=N

map.panel.latitude=13.2804

map.panel.longitude=-61.1924

map.panel.scale=42.3

map.panel.wave-0.activeChannel=SOA EHZ TR --

map.panel.wave-0.hash=-6114847.62653

map.panel.wave-0.settings.alternateOrientationCode=Z12

map.panel.wave-0.settings.autoScaleAmp=true

map.panel.wave-0.settings.autoScaleAmpMemory=true

map.panel.wave-0.settings.autoScalePower=false

map.panel.wave-0.settings.autoScalePowerMemory=true

map.panel.wave-0.settings.autoScaleSpectrogramPower=false

map.panel.wave-0.settings.autoScaleSpectrogramPowerMemory=true

map.panel.wave-0.settings.binSize=2.0

map.panel.wave-0.settings.filter.corner1=1.0

map.panel.wave-0.settings.filter.corner2=10.0

map.panel.wave-0.settings.filter.order=4

map.panel.wave-0.settings.filter.samplingRate=100.0

map.panel.wave-0.settings.filter.type=B

map.panel.wave-0.settings.filterOn=false

map.panel.wave-0.settings.nfft=0

map.panel.wave-0.settings.removeBias=true

map.panel.wave-0.settings.spectraLogFreq=true

map.panel.wave-0.settings.spectraLogPower=true

map.panel.wave-0.settings.spectraMaxFreq=25.0

map.panel.wave-0.settings.spectraMaxPower=5.0

map.panel.wave-0.settings.spectraMinFreq=0.0

map.panel.wave-0.settings.spectraMinPower=1.0

map.panel.wave-0.settings.spectrogramLogPower=true

map.panel.wave-0.settings.spectrogramMaxFreq=25.0

map.panel.wave-0.settings.spectrogramMaxPower=120.0

map.panel.wave-0.settings.spectrogramMinFreq=0.0

map.panel.wave-0.settings.spectrogramMinPower=20.0

map.panel.wave-0.settings.spectrogramOverlap=0.859375

map.panel.wave-0.settings.useAlternateOrientationCode=false

map.panel.wave-0.settings.useAlternateSpectrum=false

map.panel.wave-0.settings.useUnits=true

map.panel.wave-0.settings.viewType=W

map.panel.wave-0.settings.waveMaxAmp=1000.0

map.panel.wave-0.settings.waveMinAmp=-1000.0

map.panel.wave-0.settings.zeroPhaseShift=true

map.panel.wave-0.sizeIndex=7

map.panel.wave-0.x=1260

map.panel.wave-0.y=212

map.panel.wave-1.activeChannel=SSVA HHZ TR --

map.panel.wave-1.hash=-6118237.476917

map.panel.wave-1.settings.alternateOrientationCode=Z12

map.panel.wave-1.settings.autoScaleAmp=true

map.panel.wave-1.settings.autoScaleAmpMemory=true

map.panel.wave-1.settings.autoScalePower=false

map.panel.wave-1.settings.autoScalePowerMemory=true

map.panel.wave-1.settings.autoScaleSpectrogramPower=false

map.panel.wave-1.settings.autoScaleSpectrogramPowerMemory=true

map.panel.wave-1.settings.binSize=2.0

map.panel.wave-1.settings.filter.corner1=1.0

map.panel.wave-1.settings.filter.corner2=10.0

map.panel.wave-1.settings.filter.order=4

map.panel.wave-1.settings.filter.samplingRate=100.0

map.panel.wave-1.settings.filter.type=B

map.panel.wave-1.settings.filterOn=false

map.panel.wave-1.settings.nfft=0

map.panel.wave-1.settings.removeBias=true

map.panel.wave-1.settings.spectraLogFreq=true

map.panel.wave-1.settings.spectraLogPower=true

map.panel.wave-1.settings.spectraMaxFreq=25.0

map.panel.wave-1.settings.spectraMaxPower=5.0

map.panel.wave-1.settings.spectraMinFreq=0.0

map.panel.wave-1.settings.spectraMinPower=1.0

map.panel.wave-1.settings.spectrogramLogPower=true

map.panel.wave-1.settings.spectrogramMaxFreq=25.0

map.panel.wave-1.settings.spectrogramMaxPower=120.0

map.panel.wave-1.settings.spectrogramMinFreq=0.0

map.panel.wave-1.settings.spectrogramMinPower=20.0

map.panel.wave-1.settings.spectrogramOverlap=0.86

map.panel.wave-1.settings.useAlternateOrientationCode=false

map.panel.wave-1.settings.useAlternateSpectrum=false

map.panel.wave-1.settings.useUnits=true

map.panel.wave-1.settings.viewType=W

map.panel.wave-1.settings.waveMaxAmp=1000.0

map.panel.wave-1.settings.waveMinAmp=-1000.0

map.panel.wave-1.settings.zeroPhaseShift=false

map.panel.wave-1.sizeIndex=7

map.panel.wave-1.x=1262

map.panel.wave-1.y=430

map.panel.wave-2.activeChannel=SVGT HHZ TR --

map.panel.wave-2.hash=-6111916.7195

map.panel.wave-2.settings.alternateOrientationCode=Z12

map.panel.wave-2.settings.autoScaleAmp=true

map.panel.wave-2.settings.autoScaleAmpMemory=true

map.panel.wave-2.settings.autoScalePower=false

map.panel.wave-2.settings.autoScalePowerMemory=true

map.panel.wave-2.settings.autoScaleSpectrogramPower=false

map.panel.wave-2.settings.autoScaleSpectrogramPowerMemory=true

map.panel.wave-2.settings.binSize=2.0

map.panel.wave-2.settings.filter.corner1=1.0

map.panel.wave-2.settings.filter.corner2=10.0

map.panel.wave-2.settings.filter.order=4

map.panel.wave-2.settings.filter.samplingRate=100.0

map.panel.wave-2.settings.filter.type=B

map.panel.wave-2.settings.filterOn=false

map.panel.wave-2.settings.nfft=0

map.panel.wave-2.settings.removeBias=true

map.panel.wave-2.settings.spectraLogFreq=true

map.panel.wave-2.settings.spectraLogPower=true

map.panel.wave-2.settings.spectraMaxFreq=25.0

map.panel.wave-2.settings.spectraMaxPower=5.0

map.panel.wave-2.settings.spectraMinFreq=0.0

map.panel.wave-2.settings.spectraMinPower=1.0

map.panel.wave-2.settings.spectrogramLogPower=true

map.panel.wave-2.settings.spectrogramMaxFreq=25.0

map.panel.wave-2.settings.spectrogramMaxPower=120.0

map.panel.wave-2.settings.spectrogramMinFreq=0.0

map.panel.wave-2.settings.spectrogramMinPower=20.0

map.panel.wave-2.settings.spectrogramOverlap=0.859375

map.panel.wave-2.settings.useAlternateOrientationCode=false

map.panel.wave-2.settings.useAlternateSpectrum=false

map.panel.wave-2.settings.useUnits=true

map.panel.wave-2.settings.viewType=W

map.panel.wave-2.settings.waveMaxAmp=1000.0

map.panel.wave-2.settings.waveMinAmp=-1000.0

map.panel.wave-2.settings.zeroPhaseShift=true

map.panel.wave-2.sizeIndex=7

map.panel.wave-2.x=1262

map.panel.wave-2.y=648

map.panel.wave-3.activeChannel=SVB HHZ TR --

map.panel.wave-3.hash=-6125026.7255

map.panel.wave-3.settings.alternateOrientationCode=Z12

map.panel.wave-3.settings.autoScaleAmp=true

map.panel.wave-3.settings.autoScaleAmpMemory=true

map.panel.wave-3.settings.autoScalePower=false

map.panel.wave-3.settings.autoScalePowerMemory=true

map.panel.wave-3.settings.autoScaleSpectrogramPower=false

map.panel.wave-3.settings.autoScaleSpectrogramPowerMemory=true

map.panel.wave-3.settings.binSize=2.0

map.panel.wave-3.settings.filter.corner1=1.0

map.panel.wave-3.settings.filter.corner2=10.0

map.panel.wave-3.settings.filter.order=4

map.panel.wave-3.settings.filter.samplingRate=100.0

map.panel.wave-3.settings.filter.type=B

map.panel.wave-3.settings.filterOn=false

map.panel.wave-3.settings.nfft=0

map.panel.wave-3.settings.removeBias=true

map.panel.wave-3.settings.spectraLogFreq=true

map.panel.wave-3.settings.spectraLogPower=true

map.panel.wave-3.settings.spectraMaxFreq=25.0

map.panel.wave-3.settings.spectraMaxPower=5.0

map.panel.wave-3.settings.spectraMinFreq=0.0

map.panel.wave-3.settings.spectraMinPower=1.0

map.panel.wave-3.settings.spectrogramLogPower=true

map.panel.wave-3.settings.spectrogramMaxFreq=25.0

map.panel.wave-3.settings.spectrogramMaxPower=120.0

map.panel.wave-3.settings.spectrogramMinFreq=0.0

map.panel.wave-3.settings.spectrogramMinPower=20.0

map.panel.wave-3.settings.spectrogramOverlap=0.859375

map.panel.wave-3.settings.useAlternateOrientationCode=false

map.panel.wave-3.settings.useAlternateSpectrum=false

map.panel.wave-3.settings.useUnits=true

map.panel.wave-3.settings.viewType=W

map.panel.wave-3.settings.waveMaxAmp=1000.0

map.panel.wave-3.settings.waveMinAmp=-1000.0

map.panel.wave-3.settings.zeroPhaseShift=true

map.panel.wave-3.sizeIndex=7

map.panel.wave-3.x=59

map.panel.wave-3.y=473

map.panel.wave-4.activeChannel=SFAN HHZ TR --

map.panel.wave-4.hash=-6116574.218498

map.panel.wave-4.settings.alternateOrientationCode=Z12

map.panel.wave-4.settings.autoScaleAmp=true

map.panel.wave-4.settings.autoScaleAmpMemory=true

map.panel.wave-4.settings.autoScalePower=false

map.panel.wave-4.settings.autoScalePowerMemory=true

map.panel.wave-4.settings.autoScaleSpectrogramPower=false

map.panel.wave-4.settings.autoScaleSpectrogramPowerMemory=true

map.panel.wave-4.settings.binSize=2.0

map.panel.wave-4.settings.filter.corner1=1.0

map.panel.wave-4.settings.filter.corner2=10.0

map.panel.wave-4.settings.filter.order=4

map.panel.wave-4.settings.filter.samplingRate=100.0

map.panel.wave-4.settings.filter.type=B

map.panel.wave-4.settings.filterOn=false

map.panel.wave-4.settings.nfft=0

map.panel.wave-4.settings.removeBias=true

map.panel.wave-4.settings.spectraLogFreq=true

map.panel.wave-4.settings.spectraLogPower=true

map.panel.wave-4.settings.spectraMaxFreq=25.0

map.panel.wave-4.settings.spectraMaxPower=5.0

map.panel.wave-4.settings.spectraMinFreq=0.0

map.panel.wave-4.settings.spectraMinPower=1.0

map.panel.wave-4.settings.spectrogramLogPower=true

map.panel.wave-4.settings.spectrogramMaxFreq=25.0

map.panel.wave-4.settings.spectrogramMaxPower=120.0

map.panel.wave-4.settings.spectrogramMinFreq=0.0

map.panel.wave-4.settings.spectrogramMinPower=20.0

map.panel.wave-4.settings.spectrogramOverlap=0.86

map.panel.wave-4.settings.useAlternateOrientationCode=false

map.panel.wave-4.settings.useAlternateSpectrum=false

map.panel.wave-4.settings.useUnits=true

map.panel.wave-4.settings.viewType=W

map.panel.wave-4.settings.waveMaxAmp=1000.0

map.panel.wave-4.settings.waveMinAmp=-1000.0

map.panel.wave-4.settings.zeroPhaseShift=false

map.panel.wave-4.sizeIndex=7

map.panel.wave-4.x=660

map.panel.wave-4.y=30

map.panel.wave-5.activeChannel=SVT HHZ TR --

map.panel.wave-5.hash=-6124486.832

map.panel.wave-5.settings.alternateOrientationCode=Z12

map.panel.wave-5.settings.autoScaleAmp=true

map.panel.wave-5.settings.autoScaleAmpMemory=true

map.panel.wave-5.settings.autoScalePower=false

map.panel.wave-5.settings.autoScalePowerMemory=true

map.panel.wave-5.settings.autoScaleSpectrogramPower=false

map.panel.wave-5.settings.autoScaleSpectrogramPowerMemory=true

map.panel.wave-5.settings.binSize=2.0

map.panel.wave-5.settings.filter.corner1=1.0

map.panel.wave-5.settings.filter.corner2=10.0

map.panel.wave-5.settings.filter.order=4

map.panel.wave-5.settings.filter.samplingRate=100.0

map.panel.wave-5.settings.filter.type=B

map.panel.wave-5.settings.filterOn=false

map.panel.wave-5.settings.nfft=0

map.panel.wave-5.settings.removeBias=true

map.panel.wave-5.settings.spectraLogFreq=true

map.panel.wave-5.settings.spectraLogPower=true

map.panel.wave-5.settings.spectraMaxFreq=25.0

map.panel.wave-5.settings.spectraMaxPower=5.0

map.panel.wave-5.settings.spectraMinFreq=0.0

map.panel.wave-5.settings.spectraMinPower=1.0

map.panel.wave-5.settings.spectrogramLogPower=true

map.panel.wave-5.settings.spectrogramMaxFreq=25.0

map.panel.wave-5.settings.spectrogramMaxPower=120.0

map.panel.wave-5.settings.spectrogramMinFreq=0.0

map.panel.wave-5.settings.spectrogramMinPower=20.0

map.panel.wave-5.settings.spectrogramOverlap=0.859375

map.panel.wave-5.settings.useAlternateOrientationCode=false

map.panel.wave-5.settings.useAlternateSpectrum=false

map.panel.wave-5.settings.useUnits=true

map.panel.wave-5.settings.viewType=W

map.panel.wave-5.settings.waveMaxAmp=1000.0

map.panel.wave-5.settings.waveMinAmp=-1000.0

map.panel.wave-5.settings.zeroPhaseShift=true

map.panel.wave-5.sizeIndex=7

map.panel.wave-5.x=61

map.panel.wave-5.y=733

map.panel.wave-6.activeChannel=SVV HHZ TR --

map.panel.wave-6.hash=-6121586.682

map.panel.wave-6.settings.alternateOrientationCode=Z12

map.panel.wave-6.settings.autoScaleAmp=true

map.panel.wave-6.settings.autoScaleAmpMemory=true

map.panel.wave-6.settings.autoScalePower=false

map.panel.wave-6.settings.autoScalePowerMemory=true

map.panel.wave-6.settings.autoScaleSpectrogramPower=false

map.panel.wave-6.settings.autoScaleSpectrogramPowerMemory=true

map.panel.wave-6.settings.binSize=2.0

map.panel.wave-6.settings.filter.corner1=1.0

map.panel.wave-6.settings.filter.corner2=10.0

map.panel.wave-6.settings.filter.order=4

map.panel.wave-6.settings.filter.samplingRate=100.0

map.panel.wave-6.settings.filter.type=B

map.panel.wave-6.settings.filterOn=false

map.panel.wave-6.settings.nfft=0

map.panel.wave-6.settings.removeBias=true

map.panel.wave-6.settings.spectraLogFreq=true

map.panel.wave-6.settings.spectraLogPower=true

map.panel.wave-6.settings.spectraMaxFreq=25.0

map.panel.wave-6.settings.spectraMaxPower=5.0

map.panel.wave-6.settings.spectraMinFreq=0.0

map.panel.wave-6.settings.spectraMinPower=1.0

map.panel.wave-6.settings.spectrogramLogPower=true

map.panel.wave-6.settings.spectrogramMaxFreq=25.0

map.panel.wave-6.settings.spectrogramMaxPower=120.0

map.panel.wave-6.settings.spectrogramMinFreq=0.0

map.panel.wave-6.settings.spectrogramMinPower=20.0

map.panel.wave-6.settings.spectrogramOverlap=0.859375

map.panel.wave-6.settings.useAlternateOrientationCode=false

map.panel.wave-6.settings.useAlternateSpectrum=false

map.panel.wave-6.settings.useUnits=true

map.panel.wave-6.settings.viewType=W

map.panel.wave-6.settings.waveMaxAmp=1000.0

map.panel.wave-6.settings.waveMinAmp=-1000.0

map.panel.wave-6.settings.zeroPhaseShift=true

map.panel.wave-6.sizeIndex=7

map.panel.wave-6.x=55

map.panel.wave-6.y=213

map.panel.waves=7

map.w=1893

map.x=0

map.y=0

name=smu-map

